<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>name</key>
			<string>超声波洁牙美白</string>
			<key>pinyin</key>
			<string>CSBJYMB</string>
		</dict>
		<dict>
			<key>name</key>
			<string>瓷贴面修复</string>
			<key>pinyin</key>
			<string>CTMXF</string>
		</dict>
		<dict>
			<key>name</key>
			<string>单颗牙种植</string>
			<key>pinyin</key>
			<string>DKYZZ</string>
		</dict>
		<dict>
			<key>name</key>
			<string>多颗牙种植</string>
			<key>pinyin</key>
			<string>DKYZZ</string>
		</dict>
		<dict>
			<key>name</key>
			<string>多生牙</string>
			<key>pinyin</key>
			<string>DSY</string>
		</dict>
		<dict>
			<key>name</key>
			<string>非龋齿</string>
			<key>pinyin</key>
			<string>FQC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>覆盖义齿</string>
			<key>pinyin</key>
			<string>FGYC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>复杂智齿</string>
			<key>pinyin</key>
			<string>FZZC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>钢丝托槽</string>
			<key>pinyin</key>
			<string>GSTC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>个别牙反颌</string>
			<key>pinyin</key>
			<string>GBYFH</string>
		</dict>
		<dict>
			<key>name</key>
			<string>固定修复</string>
			<key>pinyin</key>
			<string>GDXF</string>
		</dict>
		<dict>
			<key>name</key>
			<string>活动修复</string>
			<key>pinyin</key>
			<string>HDXF</string>
		</dict>
		<dict>
			<key>name</key>
			<string>激光美白</string>
			<key>pinyin</key>
			<string>JGMB</string>
		</dict>
		<dict>
			<key>name</key>
			<string>烤瓷牙</string>
			<key>pinyin</key>
			<string>KCY</string>
		</dict>
		<dict>
			<key>name</key>
			<string>冷光美白</string>
			<key>pinyin</key>
			<string>LGMB</string>
		</dict>
		<dict>
			<key>name</key>
			<string>抛光</string>
			<key>pinyin</key>
			<string>PG</string>
		</dict>
		<dict>
			<key>name</key>
			<string>喷砂洁牙美白</string>
			<key>pinyin</key>
			<string>PSJYMB</string>
		</dict>
		<dict>
			<key>name</key>
			<string>普通拔牙</string>
			<key>pinyin</key>
			<string>PTBY</string>
		</dict>
		<dict>
			<key>name</key>
			<string>前牙美学种植</string>
			<key>pinyin</key>
			<string>QYMXZZ</string>
		</dict>
		<dict>
			<key>name</key>
			<string>青少年牙周炎</string>
			<key>pinyin</key>
			<string>QSNYZY</string>
		</dict>
		<dict>
			<key>name</key>
			<string>全口义齿</string>
			<key>pinyin</key>
			<string>QKYC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>龋病</string>
			<key>pinyin</key>
			<string>QB</string>
		</dict>
		<dict>
			<key>name</key>
			<string>乳牙拔出</string>
			<key>pinyin</key>
			<string>RYBC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>舌侧矫正</string>
			<key>pinyin</key>
			<string>SCJZ</string>
		</dict>
		<dict>
			<key>name</key>
			<string>时代天使</string>
			<key>pinyin</key>
			<string>SDTS</string>
		</dict>
		<dict>
			<key>name</key>
			<string>双层牙</string>
			<key>pinyin</key>
			<string>SCY</string>
		</dict>
		<dict>
			<key>name</key>
			<string>树脂及烤瓷冠修复</string>
			<key>pinyin</key>
			<string>SZJKCGXF</string>
		</dict>
		<dict>
			<key>name</key>
			<string>陶瓷托槽</string>
			<key>pinyin</key>
			<string>TCTC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>涂氟</string>
			<key>pinyin</key>
			<string>TF</string>
		</dict>
		<dict>
			<key>name</key>
			<string>窝沟封闭</string>
			<key>pinyin</key>
			<string>WGFB</string>
		</dict>
		<dict>
			<key>name</key>
			<string>洗牙</string>
			<key>pinyin</key>
			<string>XY</string>
		</dict>
		<dict>
			<key>name</key>
			<string>药物美白</string>
			<key>pinyin</key>
			<string>YWMB</string>
		</dict>
		<dict>
			<key>name</key>
			<string>牙髓病</string>
			<key>pinyin</key>
			<string>YSB</string>
		</dict>
		<dict>
			<key>name</key>
			<string>牙周创伤</string>
			<key>pinyin</key>
			<string>YZCS</string>
		</dict>
		<dict>
			<key>name</key>
			<string>牙周萎缩</string>
			<key>pinyin</key>
			<string>YZWS</string>
		</dict>
		<dict>
			<key>name</key>
			<string>牙周炎</string>
			<key>pinyin</key>
			<string>YZY</string>
		</dict>
		<dict>
			<key>name</key>
			<string>牙龈病</string>
			<key>pinyin</key>
			<string>YYB</string>
		</dict>
		<dict>
			<key>name</key>
			<string>隐适美</string>
			<key>pinyin</key>
			<string>YSM</string>
		</dict>
		<dict>
			<key>name</key>
			<string>种植义齿</string>
			<key>pinyin</key>
			<string>ZZYC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>自锁托槽</string>
			<key>pinyin</key>
			<string>ZSTC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>皓齿美白</string>
			<key>pinyin</key>
			<string>HCMB</string>
		</dict>
	</array>
</dict>
</plist>
